.main-content {
    background-image: url('../../assets/images/banner.jpg');
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.inner-content {
    background-color: black;
    height: 100vh;
    opacity: 0.5;
    /* Reduce opacity for better visibility */
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.paragraph {
    position: absolute;
    color: white;
    z-index: 1000;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    font-family: "Ubuntu", sans-serif;
    top: 55%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
}

.dashboard {
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
}

.image {
    padding: 20px 100px;
}

.footer {
    margin-top: 90px;
    background-color: rgb(29, 28, 28);
    color: white;
    width: 100%;
    height: 100%;
}

.top-selling {
    color: black;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 20px;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 40px;
    height: 250px;
    /* Full height of the viewport */
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.input-field {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.subBtn {
    padding: 10px 20px;
    background-color: #0DA68A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.subBtn:hover {
    background-color: #0DA68A;
}

.show-more {
    color: #007bff;
    /* Primary blue color */
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.3s ease;
    display: inline-block;
    margin-bottom: 0;
}

.show-more:hover {
    color: #0056b3;
    /* Darker blue on hover */
    text-decoration: underline;
}

.category-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card:hover {
    transform: translateY(-10px);
    /* Move the card slightly upwards */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    /* Add shadow for hover effect */
}